
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(6px);
position: fixed;
box-sizing: border-box;
}
.slider-box {
    width     : 75%;
    max-height: 90vh;
    position  : relative;
    overflow  : hidden;
    margin    : 50px auto 0 auto;
}
#slider {
    width     : 100%;
    display   : inline-flex;
    transition: 0.7s;
}
#slider img {
   width: 100%;
   object-fit: cover;
   border-radius: 12px;
   opacity: 90%;
}
.indicators {
    position : absolute;
    bottom: 10px;
    width: 25%;
    z-index: 9999;
   right: 0;
}
.indicators button {
    width        : 15px;
    height       : 15px;
    border-radius: 50%;
    background   : rgba(255, 253, 253, 0.966);
    cursor       : pointer;
    margin: 0 5px;
}
.nextPrev{
    position: absolute;
    top: 50%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.nextPrev img{
    border: none;
    box-shadow: 0px 1px 3px 2px black;
    max-width: 30px;
    cursor: pointer;
background-color:white;
opacity: .2;
padding: 0 4px;
border-radius: 50%;
transition: .5s ease-in-out;
}
.nextPrev img:hover{
opacity: .6;
}

/* Responsive  */
@media(max-width:700px){
    .slider-box{
        width: 90%;
    }
    .indicators {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        width: fit-content;
        top: unset;
        bottom: -2px;
    }
    .nextPrev img{
        max-width: 15px;
    }
    .indicators button {
        width: 12px;
        height: 12px;
    }
}